<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Document</title>
</head>

<body>
  <header>My language learning 🇫🇷</header>

  <article>

    <h1>My words</h1>

    <p><a href="/my-words/new-word">Add a new word</a></p>


    <ul>
      <% words.forEach(word=> { %>
        <li>
          <%= word.word %> - <%= word.translatedToEng %> <a href="/my-words/<%= word._id %>">Change</a>
        </li>
        <% }) %>
    </ul>


  </article>

</body>


</body>

</html>