<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My words</h1>

    <p><a href="/my-words/new-word">Add a new word</a></p>

    <table>
        <tr>
          <th>French word</th>
          <th>Translation</th>
        </tr>
        <tr>
          <td>Bonjour</td>
          <td>Hello</td>
        </tr>
      </table>
</body>
</html>