<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Franglais Words</title>
</head>

<body>

  <header>
    <div>
      Franglais
      <img class="flag-header" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
        alt="round french flag thumbnail">
    </div>
    <div>
      <%- include('../partials/nav') %>
    </div>
  </header>

  <article>

    <h1>My words</h1>

    <div class="secondary-nav-links">

      <p><a href="/my-words/new-word">Add a new word</a> ✏️</p>
      <p class="bottom-nav-links"><a href="/my-phrases">Go to phrases instead</a></p>

    </div>

    <table>
      <tr class="table-header">
        <td>French word</td>
        <td>Your translation</td>
        <td>Change</td>
      </tr>
      <% words.forEach(word=> { %>
        <tr>
          <td>
            <%= word.word %>
          </td>
          <td>
            <%= word.translatedToEng %>
          </td>
          <td><a href="/my-words/<%= word._id %>">Change</a></td>
        </tr>
        <% }) %>
    </table>

  </article>

</body>

</html>