<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Add a french word</h1>

    <form action="/my-words" method="POST">
        <label for="word">French word</label>
        <input type="text" name="word" id="word">
        <label for="translatedToEng">Translation</label>
        <input type="text" name="translatedToEng" id="translatedToEng">
        <button type="submit">Add word</button>
    </form>
</body>

</html>