<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Document</title>
</head>

<body>
  <header>
    My language learning 🇫🇷
    <div>
      <%- include('../partials/nav') %>
    </div>
  </header>

  <article>
    <h1>My phrases</h1>

    <div class="secondary-nav-links">

    <p><a href="/my-phrases/new-phrase">Add a new phrase</a></p>
    <p class="bottom-nav-links"><a href="/my-words">Go to words instead</a></p>

  </div>

    <ul>
      <% phrases.forEach(phrase=> { %>
        <li>
          <%= phrase.phrase %> - <%= phrase.translatedToEng %> <a href="/my-phrases/<%= phrase._id %>">Change</a>
        </li>
        <% }) %>
    </ul>

    

  </article>

</body>

</html>