<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Franglais my phrases</title>
</head>

<body>
  <header>
    <div>
      Franglais
      <img class="flag-header" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
        alt="round french flag thumbnail">
    </div>
    <div>
      <%- include('../partials/nav') %>
    </div>
  </header>

  <article>
    <h1>My phrases</h1>

    <div class="secondary-nav-links">

      <p><a href="/my-phrases/new-phrase">Add a new phrase</a> ✏️</p>
      <p class="bottom-nav-links"><a href="/my-words">Go to words instead</a></p>

    </div>

    <table>
      <tr class="table-header">
        <td>French phrase</td>
        <td>Your translation</td>
        <td>Change</td>
      </tr>
      <% phrases.forEach(phrase=> { %>
        <tr>
          <td>
            <%= phrase.phrase %>
          </td>
          <td>
            <%= phrase.translatedToEng %>
          </td>
          <td><a href="/my-phrases/<%= phrase._id %>">Change</a></td>
        </tr>
        <% }) %>
    </table>

  </article>

</body>

</html>