<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        My language learning 🇫🇷 

        <%- include('../partials/nav') %>
    </header>

    <article>

        <h1>Add a french phrase</h1>

        <form action="/my-phrases" method="POST">
            <label for="phrase">French phrase</label>
            <input type="text" name="phrase" id="phrase">
            <label for="translatedToEng">Transation</label>
            <input type="text" name="translatedToEng" id="translatedToEng">
            <button type="submit">Add phrase</button>
        </form>

    </article>

</body>

</html>