<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            Franglais
            <img class="flag-header" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
                alt="round french flag thumbnail">
        </div>
        <div>
            <%- include('../partials/nav') %>
        </div>
    </header>

    <article>

        <h1>Add a new phrase</h1>

        <form action="/my-phrases" method="POST" class="edit-form">
            <label for="phrase">French phrase</label>
            <input type="text" name="phrase" id="phrase">
            <label for="translatedToEng">Transation</label>
            <input type="text" name="translatedToEng" id="translatedToEng">
            <div>
                <button type="submit">Add phrase</button>
            </div>
        </form>

    </article>

</body>

</html>