<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Add a french phrase</h1>

    <form action="" method="POST">
        <label for="french-phrase">French phrase</label>
        <input type="text" name="french-phrase" id="french-phrase">
        <label for="translation">Transation</label>
        <input type="text" name="translation" id="translation">
        <button type="submit">Add phrase</button>
    </form>
    
</body>
</html>