
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background: #F5DDE0;
    padding: 20px 20px;
}    

h1, h2 {
    font-weight: 300;
}

input {
    padding: 5px;
    margin: 10px;
}

label {
    margin: 10px;
}

h2 {
    margin-left: 10px;
}

button {
    background-color: #48CAE4;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    margin: 10px;
}