
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
    font-family: 'Patrick Hand';
}

header {
    background: #F5DDE0;
    padding: 20px 20px;
}    

h1, h2 {
    font-weight: 400;
}

input {
    padding: 5px;
    margin-top: 5px;
}

label {
    margin-top: 10px;
}

button {
    background-color: #48CAE4;
    border: none;
    padding: 7px 12px; 
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Patrick Hand';
}

#sign-in-block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#sign-in-form-block {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#home-page-block {
    display: flex;
    justify-content: space-around;
}


