
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
    font-family: 'Patrick Hand';
}

header {
    background: #F5DDE0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

h1, h2 {
    font-weight: 400;
}

h2 {
    font-size: 20px;
}

input {
    padding: 5px;
    margin-top: 5px;
}

label {
    margin-top: 10px;
}

button {
    background-color:#113065;
    border: none;
    padding: 7px 12px; 
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Patrick Hand';
    color: white
}

#sign-in-block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#sign-in-form-block {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#home-page-block {
    display: flex;
    justify-content: space-around;
}


article {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.secondary-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-nav-links {
    margin-right: 40px;
}

.translated-to-eng {
    margin-top: 0px;
}

.side-button {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.delete-button {
    background-color: #FA8072;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

h2 {
    margin-bottom: 5px;
}

.my-words-block {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
}

.table-header {
    background-color: #f5f5f5
}

table {
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
}

td {
    padding: 5px 15px;
}

.margin-delete {
    margin-top: 40px;
}

.flag {
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 50px;
}

.flag-header {
    width: 10px;
    height: 10px;
    border: solid;
    border-radius: 50px;
    border-width: thin;
}

#header-without-nav {
    display: flex;
    justify-content: flex-start;
}

#flag-header-without-nav {
    width: 10px;
    height: 10px;
    border: solid;
    border-radius: 50px;
    border-width: thin;
    margin-left: 3px;
}