<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body>

    <header id="header-without-nav">
          Franglais
          <img id="flag-header-without-nav" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
            alt="round french flag thumbnail">
    </header>

    <div id="sign-in-block">

        <h1>Sign in</h1>

        <form action="/sign-in-language-learning" method="POST" id="sign-in-form-block">
            <label for="username">Your username</label>

            <input type="text" name="username" id="username">

            <label for="password">Your password</label>

            <input type="password" name="password" id="password">

            <div>

                <button type="submit">Sign in</button>

            </div>

        </form>

    </div>

</body>

</html>