<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/start-page.css">
    <title>Franglais</title>
</head>

<body>

    <div id="start-page-color-block">

        <div id="flag-start-page">

            <div class="para-wrap">
                <h1>Franglais</h1>
                <p>[frong-glay] (<em>noun</em>) a. A blend of French and English. b. Also a French language learning app to build your own French dictionary. Record words and phrases on the go. Refer to them, revise them, and celebrate your milestones.</p>
            </div>

            <div>
                <img class="flag" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
                    alt="round french flag thumbnail">
            </div>

        </div>

    </div>

    <div id="create-an-account-block">

        <h2>Create an account</h2>

        <form action="/start-language-learning" method="POST">
            <label for="username">Create a unique username</label>

            <input type="text" name="username" id="username">

            <label for="password">Create a password</label>

            <input type="password" name="password" id="password">

            <label for="confirmPassword">Enter your password again</label>

            <input type="password" name="confirmPassword" id="confirmPassword">

            <div>
                <button type="submit">Sign up</button>
            </div>

        </form>


        <p>Already have an account? <a href="/sign-in-language-learning">Sign in</a></p>

    </div>

</body>

</html>